<div class="container mt-5 text-center">
    {{#if user}}
        {{> nav}}
    {{/if}}
    <h1>Products in Cart</h1>
    <p>Cart ID: {{cart._id}}</p>
    <p>Items in Cart: {{cart.products.length}}</p>
    {{#if cart.products.length}}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Code</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.products}}
                    <tr>
                        <td>{{product._id}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.code}}</td>
                        <td>{{product.stock}}</td>
                        <td>{{product.price}}</td>
                        <td>{{this.quantity}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            <button class="btn btn-outline-danger" onclick="removeAll('{{cart._id}}')">
                <i class="bi bi-trash"></i>
                Remove All
            </button>
            <button class="btn btn-outline-success" onclick="purchase('{{cart._id}}')">
                <i class="bi bi-credit-card"></i>
                Purchase
            </button>
        </div>
    {{else}}
        <p><strong>No hay productos en el carrito.</strong></p>
    {{/if}}
</div>
<script src="/js/cart.js"></script>