<div class="container mt-5 text-center">
    {{#if user}}
        {{> nav}}
    {{/if}}
    <h1>Users List</h1>
    <p>Role: {{user.role}}</p>
    <p>Users in Database: {{users.length}}</p>
    {{#if users.length}}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Role</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.first_name}} {{this.last_name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.age}}</td>
                        <td>{{this.role}}</td>
                        <td>
                            <button class="btn btn-outline-success" onclick="changeRole('{{this._id}}')">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger" onclick="deleteUser('{{this._id}}')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p><strong>No hay productos en el carrito.</strong></p>
    {{/if}}
</div>
<script src="/js/users.js"></script>