<div id="product-card" class="col-md-4 mb-4">
    <div class="card">
        <div id="{{this._id}}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {{#each this.thumbnail}}
                    <div class="carousel-item {{#if @first}}active{{/if}}">
                        <img src="{{this}}" class="d-block w-100" alt="Imagen del producto">
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">Precio: $ {{this.price}}</p>
            <p class="card-text">Código: {{this.code}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-outline-primary" onclick="addProductToCart('{{@root.cart}}','{{this._id}}')">
                Agregar al carrito
            </button>
        </div>
    </div>
</div>